:root {
	--color-accent: #4d5ae5;
	--accent-dark: #2e2f42;
	--color-text: #434455;
	--main-font: "Roboto", sans-serif;
	--header-font: "Raleway", sans-serif;
	--color-hover: #404bbf;
	--light-gray: #f4f4fd;
	--light-accent: #e7e9fc;
	--default-white: #ffffff;
}

body {
	font-family: var(--main-font);
	color: var(--color-text);
	background-color: var(--default-white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

.section {
	padding: 120px 0;
}

.list {
	list-style: none;
}

.btn {
	border-radius: 4px;
	border: none;
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
}

.btn:hover,
.btn:focus {
	background: var(--color-hover);
}

.link {
	color: var(--accent-dark);
	text-decoration: none;
}
.link:hover,
.link:focus {
	color: var(--color-hover);
}

.title {
	text-align: center;
	color: var(--accent-dark);
	text-transform: capitalize;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	margin-bottom: 72px;
}

.subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--accent-dark);
}

.descr {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--color-text);
}

.header {
	border-bottom: 1px solid var(--light-accent);
}

.logo {
	font-family: var(--header-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-accent);
	padding: 36px 0;
	display: block;
}

.logo__end {
	color: var(--accent-dark);
}

.header-wrapper {
	display: flex;
}

.nav {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	margin-left: 76px;
	gap: 40px;
}

.menu a {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	padding: 36px 0;
	display: block;
}

.contacts {
	font-style: normal;
	margin-left: auto;
}

.contacts ul {
	display: flex;
	gap: 40px;
}

.contacts a {
	color: inherit;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
	padding: 36px 0;
	display: block;
}

.hero {
	background: var(--accent-dark);
}

.hero__title {
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: var(--default-white);
	margin: 0 auto;
	width: 496px;
}

.hero__btn {
	font-family: inherit;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--default-white);
	background: var(--color-accent);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	width: 169px;
	height: 56px;
	margin: 48px auto 0 auto;
	display: block;
}

.cards__list {
	display: flex;
	gap: 24px;
}

.benefits__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--accent-dark);
}

.benefits__dscr {
	margin-top: 8px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--color-text);
}

.team {
	background: var(--light-gray);
}

.team__descr {
	padding: 32px 0;
}

.team__text {
	text-align: center;
	margin-bottom: 8px;
}

.team__person {
	background: var(--default-white);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.footer {
	background: var(--accent-dark);
}

.footer .logo {
	padding: 16px 0;
}

.logo__footer {
	color: var(--light-gray);
}

.footer__descr {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--light-gray);
	width: 264px;
}

.porftfolio__btn {
	background: var(--light-gray);
	border: 1px solid var(--light-accent);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--color-accent);
}

.porftfolio__btn:hover,
.porftfolio__btn:focus {
	color: var(--default-white);
}
